Repository pytorchfi/pytorchfi, pull requests merged in 2021-06, with the labels that each got.

#49 General clean up
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  requirements.txt
Labels: infra

#51 Infra updates
  .github/workflows/codeql-analysis.yml
  README.md
  pytorchfi/__init__.py
  pytorchfi/error_models.py
  pytorchfi/util.py
  test/unit_tests/test_neuron_errormodels.py
  test/unit_tests/test_weight_errormodels.py
Labels: core, infra

#52 Add unit tests that follow client code example
  test/unit_tests/test_example_client.py
Labels: documentation, midpri

#54 Layers support
  pytorchfi/core.py
  pytorchfi/error_models.py
  test/unit_tests/test_example_client.py
  test/unit_tests/test_get_funcs.py
  test/unit_tests/test_layers.py
  test/unit_tests/test_neuron_fi.py
  test/unit_tests/test_weight_fi.py
Labels: core, hipri

#57 Generalization of inputs beyond images
  pytorchfi/core.py
  pytorchfi/error_models.py
  test/unit_tests/test_example_client.py
  test/unit_tests/test_get_funcs.py
  test/unit_tests/test_init.py
  test/unit_tests/test_layers.py
  test/unit_tests/test_neuron_errormodels.py
  test/unit_tests/test_neuron_fi.py
  test/unit_tests/test_weight_errormodels.py
  test/unit_tests/test_weight_fi.py
Labels: core, hipri

#58 Support for 3D layers and simplify layer-type selection with "all"
  pytorchfi/core.py
  pytorchfi/error_models.py
  test/unit_tests/test_example_client.py
  test/unit_tests/test_layers.py
  test/unit_tests/test_neuron_fi.py
  test/unit_tests/test_weight_fi.py
Labels: bug, core, hipri
